
<div class="main">
    <div class="container">
        <div class="card">

        </div>
        <div class="text-container">
            <span></span>
            <h1>Heading</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. massa sodales vitae. Nam tortor metus, pharetra
                sed sodales id, auctor in dui. Donec cursus metus vel nisi pretium, in finibus erat fermentum. Sed id
                bibendum nunc, sit amet cursus metus.

            </p>
        </div>
    </div>
</div>